PORT=5001
NODE_ENV=development

MONGO_URI=

JWT_SECRET=mysecretkey123456789
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

API_URL=http://localhost:5001/api/v1
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=adminpassword123
